<div class="car-collec-main">
    <div class="car-collec-nav">
        <button class="active">Popular</button>
        <button>Large Truck</button>
        <button>Small Truck</button>
        <button>Exclusive Truck</button>
    </div>
    


    <div class="home-card-sec">
        <div class="collec-cards" >
            <div   *ngFor="let car of carDetails; let i = index">
                <div class="car-card" *ngIf="!allowCars(i)">
                    <div class="car-img">
                        <img src={{car.imgUrl}}>
                    </div>
                    <div class="container">
                        <div class="cardhead">
                            <p>{{car.name}}</p>
                            <img (click)="turnRed()" src={{heartURL}}>
                        </div>
                        <h4 style="font-family: Verdana; font-weight:bold; color: #0381BA;"> {{car.price}}</h4>
                        <div class="smallblock">
                            <div class="smallsubblock text-center">
                                <img src="../../../assets/speedometer-01.png" style="height: 15px; width: auto; margin-bottom: 0;">
                                <p>{{car.speed}}</p>
                            </div>
                            <div class="smallsubblock text-center">
                                <img src="../../../assets/manual-gearbox.png" style="height: 15px; width: auto; margin-bottom: 0;">
                                <p>{{car.gear}}</p>
                            </div>
                            <div class="smallsubblock text-center">
                                <img src="../../../assets/gas-station.png" style="height: 15px; width: auto; margin-bottom: 0;">
                                <p>{{car.capacity}}Gallons </p>
                            </div>
                            <div class="smallsubblock text-center">
                                <img src="../../../assets/users-01.png" style="height: 15px; width: auto; margin-bottom: 0;">
                                <p>{{car.type}}</p>
                            </div>
                        </div>
                        <button  class="buybtn btn btn-white" style="font-family: Verdana;">Select</button>
                    </div>
                </div>
                <div class="car-card" *ngIf="allowCars(i)" >
                    <div class="car-img">
                        <img src={{car.imgUrl}}>
                    </div>
                    
                    <div class="container">
                        <div class="cardhead">
                            <p>{{car.name}}</p>
                            <img (click)="turnRed()" src={{heartURL}}>
                        </div>
                        <h4 style="font-family: Verdana; font-weight:bold; color: #0381BA;">$ {{car.price}}</h4>
                        <div class="smallblock">
                            <div class="smallsubblock text-center">
                                <img src="../../../assets/speedometer-01.png" style="height: 15px; width: auto; margin-bottom: 0;">
                                <p>{{car.speed}}</p>
                            </div>
                            <div class="smallsubblock text-center">
                                <img src="../../../assets/manual-gearbox.png" style="height: 15px; width: auto; margin-bottom: 0;">
                                <p>{{car.gear}}</p>
                            </div>
                            <div class="smallsubblock text-center">
                                <img src="../../../assets/gas-station.png" style="height: 15px; width: auto; margin-bottom: 0;">
                                <p>{{car.capacity}} Gallons</p>
                            </div>
                            <div class="smallsubblock text-center">
                                <img src="../../../assets/users-01.png " style="height: 15px; width: auto; margin-bottom: 0;">
                                <p>{{car.type}}</p>
                            </div>
                        </div>
                        <button (click)="buyNow(i)" class="buybtn btn btn-white" style="font-family: Verdana;  ">Select</button>
                        <!-- <button class="buybtn btn btn-white" (click)="">Buy Now</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
